<!DOCTYPE html>
<html>
<head>
 	<title>bipbip.online</title>
  <meta charset="UTF-8">
<link rel="icon" type="img/png" href="icone.png">
  <link rel="stylesheet"href="sugar.css">
</head>
<body>
  <div id="wrap">
    <div id="main">
			<h1 id="head">
<a href="http://amygdale.files.wordpress.com/2010/01/photo-232.jpg">BIPBIP.ONLINE
</a>

</h1>
			<ul id="menu" class="right">

				<li><a href="rahan.html">Rahan</a></li>
				<li><a href="taggle.html">taggle</a></li>
				<li><a href="le jardin d emma/test4.html">Le jardin d'Emmaa</a></li>
				<li><a href="index.html">index</a></li>
				<li><a href="virus.html">Les premiers rahanvirus</a></li>
				<li><a href="fragmentation.html">La fragmentation prehistorique</a></li>
				<li><a href="regexps.html">Les regexps de Rahan</a></li>
				<li><a href="pazteck.html">PaZ la pasteck</a></li>
				<li><a href="lachaussette.html">Les chaussettes de la prog</a></li>
				<li><a href="rahanbot.html">le bot prehistorique</a></li>
				<li><a href="journaliste.html">le journaliste silexoite</a></li>
				<li><a href="rezote.html">Les RezOs NeuronUS</a></li>
				<li><a href="algorithmicus.html"> L'algorithmicus geneticus</a></li>
				<li><a href="Raoin.html"> Raoin le fils des elephants</a></li>
				<li><a href="lexique.html"> LexikOs</a></li>
				<li><a href="calcul.html"> Le calcul pointe</a></li>
				<li><a href="colere.html"> Le colere pointe</a></li>





				


			</ul>
			<div id="body" class="left">
			{{content}}
			</div>
    </div>
  </div>
  <div id="foot">
  </div>
</body>

</html>
